In [1]:
import pandas as pd
from collections import Counter
from pandas import Series, DataFrame
from Bio import SeqIO

# statistic based on uniprot identifiers

In [2]:
unique_df = pd.read_csv('seq&idens_unique.csv',low_memory=False)
uniprot_tt = pd.read_csv('uniprot_tt.csv')
uniprot_re = pd.read_csv('uniprot_rest.csv')
p2u_df = pd.read_csv('/Users/liusifan/Desktop/pdb2uni_kws.csv')

In [7]:
uniprot_tt = uniprot_tt.drop(columns=['protein_name'])
uniprot_tt = uniprot_tt.fillna('na')
uniprot_re = uniprot_re.fillna('na')

In [11]:
for ind,row in uniprot_tt.iterrows():
    if row['mf'] == 'na' and row['bp'] == 'na' and row['cc'] == 'na':
        uniprot_tt = uniprot_tt.drop([ind])

In [13]:
for ind,row in uniprot_re.iterrows():
    if row['mf'] == 'na' and row['bp'] == 'na' and row['cc'] == 'na':
        uniprot_re = uniprot_re.drop([ind])

In [18]:
p2u_df = p2u_df.fillna('na')
for ind,row in p2u_df.iterrows():
    if row['mf'] == 'na' and row['bp'] == 'na' and row['cc'] == 'na':
        p2u_df = p2u_df.drop([ind])

In [51]:
uniprot_list = uniprot_tt['id'].tolist()
l = uniprot_re['id'].tolist()

In [52]:
for ele in l:
    uniprot_list.append(ele)

In [53]:
len(uniprot_list)

43494

In [55]:
pdb_list = p2u_df['pdb'].tolist()

In [57]:
rest_nonuniprot_df = unique_df
for ind,row in rest_nonuniprot_df.iterrows():
    if row['id'] in uniprot_list or row["'PDB'"] in pdb_list:
        rest_nonuniprot_df = rest_nonuniprot_df.drop([ind])

In [56]:
unique_df.columns

Index(['id', 'seq', 'bool', 'source_organism', 'database_info', ''BMRB'',
       ''ViPR'', ''PDB'', ''Swiss-Prot'', ''INTERPRO'', ''RefSeq'', ''ORNL'',
       ''NCBI'', ''CATH'', ''GenBank'', ''EFI'', ''HGNC'', ''OrthoMCL'',
       ''NCBI ENTREZ'', ''PepcDB-CloneId'', ''MEGA'', ''WormBase'',
       ''NCBITAXONOMY'', ''ATCC'', ''GOA'', ''UNIPROTKB'', ''PATRIC ID'',
       ''BIG'', ''SuperFamily'', ''WUSTL J. Gordon'', ''EuPathDB'',
       ''Genbank'', ''TIGR'', ''NCBI gene'', ''Protocol_56'', ''TubercuList'',
       ''PUMA2'', ''Stanford SGD'', ''Protocol_73'', ''UniProt'', ''CSGID'',
       ''MCSGdb'', ''SWISSPROT'', ''Genome Project'', ''TSRI'', ''SPINE'',
       ''PFAM'', ''NCBI RefSeq'', ''seguid'', ''PFAM-B'', ''GNF'', ''GOS'',
       ''target'', ''PSICNT'', ''PSI-MR'', ''NYSGRC''],
      dtype='object')

In [58]:
len(rest_nonuniprot_df)

65583

In [59]:
rest_nonuniprot_df.to_csv('no_uniprot_iden.csv',sep=',',header=True,index=False)

In [60]:
ncbi_df  = rest_nonuniprot_df.iloc[:,[0,2,3,10,12,18,22,33,47]]

In [62]:
ncbi_df = ncbi_df.fillna('na')
for ind,row in ncbi_df.iterrows():
    if row["'RefSeq'"] == 'na' and row["'NCBI'"] == 'na' and row["'NCBI ENTREZ'"] == 'na' and row["'NCBITAXONOMY'"] == 'na' and row["'NCBI gene'"] == 'na' and row["'NCBI RefSeq'"] == 'na':
        ncbi_df = ncbi_df.drop([ind])

In [63]:
ncbi_df

,id,bool,source_organism,'RefSeq','NCBI','NCBI ENTREZ','NCBITAXONOMY','NCBI gene','NCBI RefSeq'
0,MCSG-APC60832-1,1.0,Nitrosomonas europaea ATCC 19718,na,CAD85401.1,na,na,na,na
3,MCSG-APC62631.1-1,1.0,Clostridium difficile 630,na,CAJ67297.1,na,na,na,na
5,MCSG-APC83984-1,1.0,Neisseria meningitidis MC58,na,AAF40564.1,na,na,na,na
6,MCSG-APC22678-1,1.0,Bacillus cereus,na,AAP07159,na,na,na,na
7,EFI-500607-2,0.0,Ralstonia eutropha H16,na,na,na,na,na,YP_726595.1
...,...,...,...,...,...,...,...,...,...
83005,NYSGRC-010831-1,0.0,Gallus gallus,na,na,na,na,na,NP_001012923.1
83006,NESG-YT736-2,1.0,Saccharomyces cerevisiae,NP_013390.1; NP_014825.1,na,na,na,850994,na
83007,MCSG-APC23605-1,1.0,Salmonella typhimurium LT2,na,NP_461555,na,na,na,na
83008,MCSG-APC38450.3-1,1.0,Rhodobacter sphaeroides ATCC 17025,na,ABP72858.1,na,na,na,na
83009,EFI-500350-1,0.0,Streptomyces coelicolor A3(2),na,na,na,na,na,NP_625091.1

In [73]:
i = 0
for ind,row in ncbi_df.iterrows():
    if row["'NCBI'"] != 'na' and row["'NCBI ENTREZ'"] != 'na':
        i += 1

In [74]:
i

100

In [78]:
refseq_df = ncbi_df[ncbi_df["'RefSeq'"] != 'na']

In [80]:
refseq_re_df = ncbi_df[ncbi_df["'NCBI RefSeq'"] != 'na']

In [82]:
refseq_total_df = refseq_df.append(refseq_re_df)

In [84]:
for ind,row in refseq_total_df.iterrows():
    if row["'RefSeq'"] == 'na':
        refseq_total_df["'RefSeq'"][ind] = refseq_total_df["'NCBI RefSeq'"][ind]

<ipython-input-84-50f1264c4aa7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  refseq_total_df["'RefSeq'"][ind] = refseq_total_df["'NCBI RefSeq'"][ind]

In [87]:
ref_seq_id_list = refseq_total_df["'RefSeq'"].tolist()
ref_seq_trial_id_list = refseq_total_df['id'].tolist()

In [88]:
ncbi_ent_df = ncbi_df
for ind,row in ncbi_ent_df.iterrows():
    if row['id'] in ref_seq_trial_id_list:
        ncbi_ent_df = ncbi_ent_df.drop([ind])

In [93]:
'na' in ncbi_ent_df["'NCBI ENTREZ'"]

False

In [91]:
ncbi_ent_df

,id,bool,source_organism,'RefSeq','NCBI','NCBI ENTREZ','NCBITAXONOMY','NCBI gene','NCBI RefSeq'
0,MCSG-APC60832-1,1.0,Nitrosomonas europaea ATCC 19718,na,CAD85401.1,na,na,na,na
3,MCSG-APC62631.1-1,1.0,Clostridium difficile 630,na,CAJ67297.1,na,na,na,na
5,MCSG-APC83984-1,1.0,Neisseria meningitidis MC58,na,AAF40564.1,na,na,na,na
6,MCSG-APC22678-1,1.0,Bacillus cereus,na,AAP07159,na,na,na,na
10,MCSG-APC80163-1,1.0,Streptococcus pyogenes M1 GAS,na,AAK34817,na,na,na,na
...,...,...,...,...,...,...,...,...,...
83000,MCSG-APC66101.0-1,1.0,Cytophaga hutchinsonii ATCC 33406,na,ABG58603,na,na,na,na
83002,MCSG-APC40952.2-1,1.0,Streptomyces coelicolor A3,na,NP_733508,na,na,na,na
83004,MCSG-APC38975.2-1,1.0,Chromobacterium violaceum ATCC 12472,na,AAQ60656.1,na,na,na,na
83007,MCSG-APC23605-1,1.0,Salmonella typhimurium LT2,na,NP_461555,na,na,na,na
83008,MCSG-APC38450.3-1,1.0,Rhodobacter sphaeroides ATCC 17025,na,ABP72858.1,na,na,na,na

In [96]:
with open('refseq.txt','w') as w:
    for ele in ref_seq_id_list:
        w.write(ele)
        w.write('\n')
        continue

In [97]:
with open('ncbi_rest.txt','w') as w:
    for ele in ncbi_ent_df["'NCBI'"].tolist():
        w.write(ele)
        w.write('\n')
        continue

In [98]:
data_frame1 = pd.read_excel('/Users/liusifan/Desktop/refseq.xlsx',sheet_name='Sheet0')
data_frame2 = pd.read_excel('/Users/liusifan/Desktop/ncbi_rest.xlsx',sheet_name='Sheet0')

In [100]:
df = data_frame1.append(data_frame2)

In [102]:
df.to_csv('refseq2uni.csv',sep=',',index=False,header=True)

In [3]:
data_frame1 = pd.read_excel('/Users/liusifan/Desktop/refseq.xlsx',sheet_name='Sheet1')
data_frame2 = pd.read_excel('/Users/liusifan/Desktop/ncbi_rest.xlsx',sheet_name='Sheet1')

In [4]:
df = data_frame1.append(data_frame2)

In [5]:
df.to_csv('refseq2uni_biodb.csv',sep=',',index=False,header=True)

In [14]:
df

          ref_id       Entry
0      NP_266633      Q9CI89
1      NP_579755           -
2      NP_471517           -
3      NP_763683  A0A0H2VE63
4      NP_244237           -
...          ...         ...
20678   AAW85234           -
20679   AAK74880           -
20680   ABG58603           -
20681  NP_733508      Q8CK51
20682  NP_461555           -

[40612 rows x 2 columns]

In [2]:
unique_df = pd.read_csv('seq&idens_unique.csv',low_memory=False)

In [3]:
unique_df = unique_df.iloc[:,[0,1]]

In [4]:
import re

In [5]:
with open('unique_seqs.fasta','w') as w:
    for ind,row in unique_df.iterrows():
        w.write('>' + row['id'])
        w.write('\n')
        w.write(re.sub(r'[ *_]','',row['seq']))
        w.write('\n')

In [2]:
uni_tt_df = pd.read_csv('uniprot_tt.csv',low_memory=False)
uni_re_df = pd.read_csv('uniprot_rest.csv',low_memory=False)

In [4]:
unidf = pd.DataFrame(columns=['id','uniprot'])

In [6]:
id_list = []
uniprot_list = []

In [9]:
for ind,row in uni_tt_df.iterrows():
    id_list.append(row['id'])
    uniprot_list.append(row['UniProt'])
    
for ind,row in uni_re_df.iterrows():
    id_list.append(row['id'])
    uniprot_list.append(row['entrze'])

In [11]:
esm_df = pd.read_csv('/Users/liusifan/Desktop/esm_clean_output.csv',low_memory=False)

In [14]:
for i in range(1280):
    esm_df = esm_df.drop(columns=['esm_'+str(i)])

In [15]:
unidf['id'] = id_list
unidf['uniprot'] = uniprot_list
merge_uni_df = pd.merge(esm_df,unidf,on='id')

In [16]:
merge_uni_df

,id,seqs,lab,symbol,protein_name,source_organism,MEGA,Swiss-Prot,ATCC,SWISSPROT,...,GOS,PFAM,TSRI,GNF,TubercuList,UNIPROTKB,PepcDB-CloneId,ViPR,HGNC,uniprot
0,NESG-BcR202-1,MKIVGIYLAAGKSRRTGPGLHKLYLPTGNTLLGNKALHTSLSSNLS...,NESG,1.0,NaN,Bacillus cereus,NaN,NaN,NaN,NaN,...,NaN,PF12804,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q81BJ3
1,NESG-BcR202-1,MKIVGIYLAAGKSRRTGPGLHKLYLPTGNTLLGNKALHTSLSSNLS...,NESG,1.0,NaN,Bacillus cereus,NaN,NaN,NaN,NaN,...,NaN,PF12804,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q81BJ3
2,NESG-FR834A-5,MSGLNDIFEAQKIEWHEHHHHHHENLYFQSHMPPPPYCEKYLRRTE...,NESG,1.0,NaN,Drosophila melanogaster,NaN,NaN,NaN,NaN,...,NaN,PF00856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q9VW15
3,NESG-FR834A-5,MSGLNDIFEAQKIEWHEHHHHHHENLYFQSHMPPPPYCEKYLRRTE...,NESG,1.0,NaN,Drosophila melanogaster,NaN,NaN,NaN,NaN,...,NaN,PF00856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q9VW15
4,NESG-SR672-1,MIPLVSIIVPMYNVEPFIEECIDSLLRQTLSDIEIILVNDGTPDRS...,NESG,1.0,NaN,Bacillus subtilis,NaN,NaN,NaN,NaN,...,NaN,PF00535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P71059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47089,NESG-RiR103-1,METKGEPYSEPCEFFNSILTGSVSRKMRLPRMGIRNFIGTSRLHFA...,NESG,1.0,NaN,Agrobacterium vitis,NaN,NaN,NaN,NaN,...,NaN,PF03135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B9K5Z5
47090,NESG-RiR103-1,METKGEPYSEPCEFFNSILTGSVSRKMRLPRMGIRNFIGTSRLHFA...,NESG,1.0,NaN,Agrobacterium vitis,NaN,NaN,NaN,NaN,...,NaN,PF03135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B9K5Z5
47091,NESG-SR664D-1,MTNFILIIEEINRANAASVFGDIFQLLDRNKNGESDYPVTFGPDIM...,NESG,1.0,NaN,Bacillus subtilis,NaN,NaN,NaN,NaN,...,NaN,PF07728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,O34885
47092,NESG-SR664D-1,MTNFILIIEEINRANAASVFGDIFQLLDRNKNGESDYPVTFGPDIM...,NESG,1.0,NaN,Bacillus subtilis,NaN,NaN,NaN,NaN,...,NaN,PF07728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,O34885
47093,NESG-HR4619-53,MWSHPQFEKAMKIEEGKLVIWINGDKGYNGLAEVGKKFEKDTGIKV...,NESG,1.0,NaN,Homo sapiens,NaN,NaN,NaN,NaN,...,NaN,PF08934,NaN,NaN,NaN,NaN,NaN,NaN,RB1,P06400

In [17]:
pdb_df = pd.read_csv('pdb2uni_kws.csv',low_memory=False)
ref2uni_df = pd.read_csv('extracted_ref2uni_tt.csv',low_memory=False)

In [19]:
pdb_df = pdb_df.fillna('na')
for ind,row in pdb_df.iterrows():
    if row['mf'] == 'na' and row['bp'] == 'na' and row['cc'] == 'na':
        pdb_df = pdb_df.drop([ind])
pdf = pd.DataFrame(columns=['PDB','uniprot'])
pdf['PDB'] = pdb_df['pdb']
pdf['uniprot'] = pdb_df['Entry']
merge_pdb_df = pd.merge(esm_df,pdf,on='PDB')

In [21]:
ref2uni_df

,ref_id,Entry,mf,bp,cc
0,NP_215425.1,P9WJ05,na,Toxin-antitoxin system,na
1,NP_010090.1,P0CX84,Ribonucleoprotein,na,Cytoplasm
2,NP_010145.1,P0CX84,Ribonucleoprotein,na,Cytoplasm
3,NP_010090.1,P0CX85,Ribonucleoprotein,na,Cytoplasm
4,NP_010145.1,P0CX85,Ribonucleoprotein,na,Cytoplasm
...,...,...,...,...,...
4864,NP_799982,Q87IY4,na,na,Membrane
4865,NP_249255,Q9I5X2,DNA-binding,Transcription,na
4866,NP_213575,O67014,na,Cell shape,na
4867,NP_800388,Q87HS8,na,na,Membrane
4868,NP_733508,Q8CK51,Lyase,na,na

In [22]:
esm_df.columns

Index(['id', 'seqs', 'lab', 'symbol', 'protein_name', 'source_organism',
       'MEGA', 'Swiss-Prot', 'ATCC', 'SWISSPROT', 'WormBase', 'MCSGdb', 'PDB',
       'PATRIC ID', 'EFI', 'NCBI gene', 'SuperFamily', 'TIGR',
       'Genome Project', 'PUMA2', 'RefSeq', 'SPINE', 'UniProt', 'NCBI RefSeq',
       'PFAM-B', 'NCBI', 'seguid', 'PSI-MR', 'NCBI ENTREZ', 'ORNL', 'OrthoMCL',
       'PSICNT', 'EuPathDB', 'NCBITAXONOMY', 'INTERPRO', 'target', 'NYSGRC',
       'BMRB', 'CATH', 'CSGID', 'GOA', 'Stanford SGD', 'GenBank', 'BIG',
       'Genbank', 'GOS', 'PFAM', 'TSRI', 'GNF', 'TubercuList', 'UNIPROTKB',
       'PepcDB-CloneId', 'ViPR', 'HGNC'],
      dtype='object')

In [23]:
esm_df['uniprot'] = ['']*len(esm_df)

In [40]:
refid_list = ref2uni_df['ref_id'].tolist()
refuni_list = ref2uni_df['Entry'].tolist()

In [42]:
for ind,row in esm_df.iterrows():
    if row['RefSeq'] in refid_list:
        esm_df['uniprot'][ind] = refuni_list[refid_list.index(row['RefSeq'])]
    elif row['NCBI RefSeq'] in refid_list:
        esm_df['uniprot'][ind] = refuni_list[refid_list.index(row['NCBI RefSeq'])]
    elif row['NCBI'] in refid_list:
        esm_df['uniprot'][ind] = refuni_list[refid_list.index(row['NCBI'])]
    elif row['NCBI gene'] in refid_list:
        esm_df['uniprot'][ind] = refuni_list[refid_list.index(row['NCBI gene'])]
    elif row['NCBI ENTREZ'] in refid_list:
        esm_df['uniprot'][ind] = refuni_list[refid_list.index(row['NCBI ENTREZ'])]
    elif row['NCBITAXONOMY'] in refid_list:
        esm_df['uniprot'][ind] = refuni_list[refid_list.index(row['NCBITAXONOMY'])]

<ipython-input-42-74657296ce57>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  esm_df['uniprot'][ind] = refuni_list[refid_list.index(row['NCBI RefSeq'])]
<ipython-input-42-74657296ce57>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  esm_df['uniprot'][ind] = refuni_list[refid_list.index(row['NCBI'])]
<ipython-input-42-74657296ce57>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  esm_df['uniprot'][ind] = refuni_list[refid_list.index(row['RefSeq'])]
<ipython-input-42-74657296ce57>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  esm_df['uniprot'][ind] = refuni_list[refid_list.index(row['NCBI ENTREZ'])]

In [46]:
merge_ref2uni_df = esm_df
for ind,row in merge_ref2uni_df.iterrows():
    if row['uniprot'] == '':
        merge_ref2uni_df = merge_ref2uni_df.drop([ind])

In [48]:
merge_ref2uni_df = merge_ref2uni_df.reset_index(drop=True)

In [50]:
merge_df = merge_uni_df.append(merge_pdb_df)
merge_df = merge_df.append(merge_ref2uni_df)

In [52]:
merge_df = merge_df.reset_index(drop=True)

In [53]:
merge_df.to_csv('all_uni_idens.csv',sep=',',header=True,index=False)

In [2]:
merge_df = pd.read_csv('all_uni_idens.csv',low_memory=False)

In [5]:
merge_df = merge_df.iloc[:,[0,3,54]]

In [8]:
uni_list = merge_df['uniprot'].tolist()

In [9]:
unique_uni_list = list(set(uni_list))

In [10]:
len(unique_uni_list)

15349

In [44]:
tid_l = list(set(merge_df['id'].tolist()))
merge_df1 = pd.DataFrame(columns=['id','symbol','uniprot'])
il = []
sl =[]
ul = []
for ele in tid_l:
    sub_df = merge_df[merge_df.id == ele]
    il.append(ele)
    sl.append(sub_df['symbol'].tolist()[0])
    ul.append(sub_df['uniprot'].tolist()[0])

In [45]:
merge_df1['id'] = il
merge_df1['uniprot'] = ul
merge_df1['symbol'] = sl

In [46]:
merge_df1

                    id  symbol uniprot
0       MCSG-APC1582-1     1.0  O34528
1       NESG-MlR121A-2     1.0  Q98E68
2         EFI-510239-1     0.0  Q16C67
3      NYSGRC-019936-1     0.0  Q9JZ42
4      NESG-HR3029F-20     1.0  P41279
...                ...     ...     ...
28089   NESG-HR6414A-5     1.0  O60936
28090     NESG-EwR26-1     1.0  Q6D3L3
28091     NESG-MvR97-1     1.0  Q8TL25
28092  MCSG-APC85412-1     1.0  P39796
28093      NESG-CtR6-1     1.0  Q8KFV8

[28094 rows x 3 columns]

In [52]:
merge_0_df = merge_df1[merge_df1.symbol == 0]
merge_1_df = merge_df1[merge_df1.symbol == 1]
unique_0_list = list(set(merge_0_df['uniprot'].tolist()))
unique_1_list = list(set(merge_1_df['uniprot'].tolist()))

In [53]:
len(unique_0_list),len(unique_1_list) # before: 1.0: 14467, 0.0: 879

(879, 14467)

In [54]:
# for trials that belong to same uniprot id but have contrary label 1 or 0
statistic_df = pd.DataFrame(columns=['trial_id','uniprot'])
trial_id_list = []
uniprot_l = []
for ele in unique_uni_list:
    sub_df = merge_df1[merge_df1.uniprot == ele]
    symbol_list = list(set(sub_df['symbol'].tolist()))
    if len(symbol_list) == 2:
        trial_id_list.append('$'.join(sub_df['id'].tolist()))
        uniprot_l.append(ele)
        
statistic_df['trial_id'] = trial_id_list
statistic_df['uniprot'] = uniprot_l
len(trial_id_list)

58

In [55]:
trial_id_list

['NESG-SR661-1$NYSGRC-024761-1',
 'NESG-SR528-1$NYSGRC-016480-2',
 'NYSGRC-020037-1$NESG-BtR51-1',
 'NYSGRC-024782-1$NESG-XcR218-1',
 'NYSGRC-026060-4$NESG-VR78-1',
 'NYSGRC-016567-1$NESG-CgR38-1',
 'NESG-ER457-9$NESG-ER457-14$NESG-ER457-18$NESG-ER457-1$NYSGRC-031515-1',
 'MCSG-APC37783.1-1$NYSGRC-030651-2',
 'NESG-HR3072A-3$NESG-HR3072B-1$NESG-HR3072A-1$NYSGRC-033855-1$NESG-HR3072B-3',
 'NESG-IR7-1$NYSGRC-019973-1',
 'NESG-PaR130-1$NYSGRC-031678-1',
 'NYSGRC-200960-1$NESG-BcR270C-1$NESG-BcR270A-1$NESG-BcR270B-2',
 'NESG-BcR127-1$NYSGRC-016856-1',
 'NYSGRC-031342-1$NESG-PaT34-2',
 'NESG-HR8970B-2$NESG-HR8970B-6$NESG-HR8970-16$NESG-HR8970-2$NESG-HR8970-10$NYSGRC-033779-3$NESG-HR8970-22$NESG-HR8970-5$NESG-HR8970A-1$NESG-HR8970-7$NESG-HR8970-13$NESG-HR8970B-3$NESG-HR8970-3$NESG-HR8970-26',
 'JCSG-379859-1$NYSGRC-200048-2',
 'NESG-HR4-1$NYSGRC-033760-1',
 'NESG-HR3417C-1$NESG-HR3417C-3$NYSGRC-010986-4',
 'NYSGRC-016522-1$NESG-IR98-2',
 'NESG-SoR18-3$NESG-SoR18-1$NYSGRC-016650-1',
 'NESG-LgR50-1$NYSGRC-020130-1',
 'NYSGRC-033806-1$NESG-HR8848-1',
 'NESG-LgR52-1$NYSGRC-020132-1',
 'NESG-ET29-4$NYSGRC-019964-1',
 'NESG-HR4606C-4$NESG-HR5528A-1$NESG-HR4606D-1$NESG-HR4606C-2$NYSGRC-033727-1$NESG-HR4606C-7',
 'NYSGRC-031624-1$MCSG-APC5544-1',
 'NYSGRC-021555-2$MCSG-APC65357.2-1',
 'MCSG-APC1761-1$NYSGRC-016492-1',
 'NYSGRC-031082-1$MCSG-APC22975-1',
 'NESG-PsR129-1$NYSGRC-020031-1',
 'NESG-HR3463G-2$NYSGRC-010863-3$NESG-HR3463G-3',
 'NESG-IR99-2$EFI-508487-1',
 'MCSG-APC64948.1-1$NYSGRC-020022-1$MCSG-APC64948.2-1',
 'MCSG-APC64411-1$NYSGRC-019942-1',
 'NYSGRC-016487-1$NESG-SR666-1',
 'NESG-SR670-1$NYSGRC-016490-1',
 'MCSG-APC24100-1$NYSGRC-016544-1',
 'EFI-501054-11$MCSG-APC5626-1',
 'NESG-HR2087-1$NYSGRC-010988-3',
 'NESG-HR8554-1$NYSGRC-010822-3$NYSGRC-010822-5$NYSGRC-010822-2',
 'NYSGRC-020531-3$MCSG-APC7394-1',
 'NESG-IR6-2$NESG-IR6-1$NYSGRC-019981-1',
 'NYSGRC-031677-1$NESG-PaT62-2',
 'NYSGRC-033820-1$NESG-HR1419-1',
 'NESG-HR9002C-7$NESG-HR9002A-3$NYSGRC-033733-1$NESG-HR9002B-5$NESG-HR9002A-1$NESG-HR9002C-1$NESG-HR9002B-1$NESG-HR9002C-2$NESG-HR9002A-5$NESG-HR9002B-2',
 'NYSGRC-016484-1$NESG-SR264-1$NESG-SR264A-3',
 'NESG-HR9066-4$NESG-HR9066A-3$NYSGRC-010880-1$NESG-HR9066-1$NESG-HR9066A-1$NESG-HR9066B-3$NESG-HR9066B-5',
 'NESG-ER148A-1$NYSGRC-031664-1',
 'NYSGRC-031080-1$MCSG-APC64906.4-1$MCSG-APC64906.5-1',
 'NESG-RhR46-1$NYSGRC-020186-1',
 'NESG-HR3551B-1$NYSGRC-033725-1',
 'NYSGRC-031478-1$NESG-BcR66-1',
 'MCSG-APC237-1$NYSGRC-016504-1',
 'NYSGRC-031675-1$NESG-PaR128-1',
 'NYSGRC-010710-7$NESG-HR9054A-9$NESG-HR9054A-11$NYSGRC-010710-5$NESG-HR9054A-3$NYSGRC-010710-3$NYSGRC-010710-1$NESG-HR9054A-1$NESG-HR9054A-2$NESG-HR9054A-4',
 'NESG-HR4495C-1$NESG-HR4495E-1$NESG-HR4495E-10$NYSGRC-010778-5$NESG-HR4495C-3$NYSGRC-010778-2$NESG-HR4495D-1',
 'NESG-StR267-1$NYSGRC-016529-3',
 'MCSG-APC65359-1$NYSGRC-021554-3$MCSG-APC65359.2-1']

In [21]:
rest_df = merge_df
for ind,row in rest_df.iterrows():
    if row['uniprot'] in uniprot_l:
        rest_df = rest_df.drop([ind])

unique_uni_list1 = list(set(rest_df['uniprot'].tolist()))

# for trials that belong to same uniprot id and have the same label 1 or 0
statistic_df1 = pd.DataFrame(columns=['trial_id','uniprot'])
trial_id_list1 = []
uniprot_l1 = []
# for trials that belong to a uniprot id, unique
statistic_df2 = pd.DataFrame(columns=['trial_id','uniprot'])
trial_id_list2 = []
uniprot_l2 = []

for ele in unique_uni_list1:
    sub_df = merge_df[merge_df.uniprot == ele]
    symbol_list = sub_df['symbol'].tolist()
    if len(symbol_list) > 1:
        trial_id_list1.append('$'.join(sub_df['id'].tolist()))
        uniprot_l1.append(ele)
    if len(symbol_list) == 1:
        trial_id_list2.append(sub_df['id'].tolist()[0])
        uniprot_l2.append(ele)
        
statistic_df1['trial_id'] = trial_id_list1
statistic_df1['uniprot'] = uniprot_l1
statistic_df2['trial_id'] = trial_id_list2
statistic_df2['uniprot'] = uniprot_l2
len(trial_id_list1),len(trial_id_list2)

(12460, 2831)

In [24]:
unique_trial_df = pd.merge(merge_df,statistic_df2,on='uniprot')

In [26]:
unique_trial_df = unique_trial_df.drop(columns=['trial_id'])

In [27]:
Counter(unique_trial_df['symbol'].tolist())

Counter({1.0: 2102, 0.0: 729})

In [28]:
unique_trial_df.to_csv('trial_with_idens_unique.csv',sep=',',header=True,index=False)

In [29]:
repeat_df = statistic_df1
for ind,row in repeat_df.iterrows():
    repeat_df['trial_id'][ind] = row['trial_id'].split('$')[0]

In [33]:
repeat_df = repeat_df.rename(columns={'trial_id':'id'})

In [47]:
repeat_trial_df = pd.merge(merge_df1,repeat_df,on='id')

In [48]:
repeat_trial_df = repeat_trial_df.drop(columns=['uniprot_y'])
repeat_trial_df = repeat_trial_df.rename(columns={'uniprot_x':'uniprot'})
Counter(repeat_trial_df['symbol'].tolist())

Counter({1.0: 12366, 0.0: 94})

In [49]:
repeat_trial_df.to_csv('trial_with_idens_repeat_rm.csv',sep=',',header=True,index=False)

In [ ]:
# trials have uniprot identifiers
# 1.0: 14467, 0.0: 879
# unique identifiers
# 1.0: 2102, 0.0: 729
# repeat trials with identical label for one identifier, redudancy removed
# 1.0: 12366, 0.0: 94
# repeat trials with contrary label for one identifier
# 58

In [57]:
statistic_df.to_csv('trials_contrary_idens.csv',sep=',',header=True,index=False)
statistic_df1.to_csv('trials_repeat_idens.csv',sep=',',header=True,index=False)
statistic_df2.to_csv('trials_unique_idens.csv',sep=',',header=True,index=False)

In [58]:
contrary_df = pd.merge(merge_df1, statistic_df, on='uniprot')

In [60]:
contrary_df = contrary_df.drop(columns=['trial_id'])

In [61]:
contrary_df.to_csv('contrary_idens.csv',sep=',',header=True,index=False)

# statistic based on all available identifiers from various databases

In [68]:
unique_df = pd.read_csv('seq&idens_unique.csv',low_memory=False)

In [69]:
unique_df.columns

Index(['id', 'seq', 'bool', 'source_organism', 'database_info', 'BMRB', 'ViPR',
       'PDB', 'Swiss-Prot', 'INTERPRO', 'RefSeq', 'ORNL', 'NCBI', 'CATH',
       'GenBank', 'EFI', 'HGNC', 'OrthoMCL', 'NCBI ENTREZ', 'PepcDB-CloneId',
       'MEGA', 'WormBase', 'NCBITAXONOMY', 'ATCC', 'GOA', 'UNIPROTKB',
       'PATRIC ID', 'BIG', 'SuperFamily', 'WUSTL J. Gordon', 'EuPathDB',
       'Genbank', 'TIGR', 'NCBI gene', 'Protocol_56', 'TubercuList', 'PUMA2',
       'Stanford SGD', 'Protocol_73', 'UniProt', 'CSGID', 'MCSGdb',
       'SWISSPROT', 'Genome Project', 'TSRI', 'SPINE', 'PFAM', 'NCBI RefSeq',
       'seguid', 'PFAM-B', 'GNF', 'GOS', 'target', 'PSICNT', 'PSI-MR',
       'NYSGRC'],
      dtype='object')

In [70]:
unique_df=unique_df.fillna('na')

In [71]:
unique_df=unique_df.drop(columns=['database_info'])

In [78]:
entry_df = pd.DataFrame(columns=['id','symbol','entry'])

In [73]:
uniprot_df = unique_df[unique_df.UniProt != 'na']

In [79]:
entry_df['id'] = uniprot_df['id']
entry_df['symbol'] = uniprot_df['bool']
entry_df['entry'] = uniprot_df['UniProt']

In [75]:
rest_df = unique_df[unique_df.UniProt == 'na']

In [76]:
swissprot_df = rest_df[rest_df.SWISSPROT != 'na']

In [81]:
swissprot_df = swissprot_df.rename(columns={'bool':'symbol','SWISSPROT':'entry'})

In [82]:
swissprot_df = swissprot_df.iloc[:,[0,2,41]]

In [84]:
swissprot_df = swissprot_df.reset_index(drop=True)
entry_df = entry_df.append(swissprot_df)

In [85]:
rest_df = rest_df[rest_df.SWISSPROT == 'na']

In [88]:
rest_df = rest_df.rename(columns={'bool':'symbol','Swiss-Prot':'entry'})
Swiss_Prot_df = rest_df[rest_df.entry != 'na']
Swiss_Prot_df = Swiss_Prot_df.iloc[:,[0,2,7]]
Swiss_Prot_df

                  id  symbol   entry
4271   JCSG-400696-1     1.0  Q8TD30
56970  JCSG-356241-1     1.0  P35236
68934  JCSG-356240-1     1.0  P35236
75884  JCSG-356239-1     1.0  P35236

In [89]:
Swiss_Prot_df = Swiss_Prot_df.reset_index(drop=True)
entry_df = entry_df.append(Swiss_Prot_df)

In [91]:
rest_df = rest_df.drop(columns=['seq','source_organism','SWISSPROT','UniProt'])

In [215]:
rest_df = rest_df.drop(columns=['PSI_MR'])

In [203]:
rest_df = rest_df.rename(columns={'PATRIC ID':'PATRIC_ID','Stanford SGD':'Stanford_SGD','Genome Project':'Genome_Project','PSI-MR':'PSI_MR'})

In [237]:
rest_df.columns

Index(['id', 'symbol', 'ORNL', 'TubercuList', 'entry'], dtype='object')

In [95]:
rest_df = rest_df[rest_df.entry == 'na']
rest_df = rest_df.drop(columns=['entry'])
rest_df = rest_df.rename(columns={'UNIPROTKB':'entry'})
UNIPROTKB_df = rest_df[rest_df.entry != 'na']
UNIPROTKB_df = UNIPROTKB_df.iloc[:,[0,1,21]]
UNIPROTKB_df

                 id  symbol   entry
928     TB-Rv0921-1     1.0  O05913
2078   TB-Rv2919c-1     1.0  P64249
2282    TB-Rv2671-1     1.0  P71968
2997    TB-Rv0300-1     1.0  O07227
3755   TB-Rv3336c-1     1.0  P67590
...             ...     ...     ...
81110   TB-Rv1095-1     1.0  O53443
81125   TB-Rv1489-1     1.0  Q8VK13
81316   TB-Rv1284-1     1.0  P64797
82399   TB-Rv0594-1     1.0  O07784
82465  TB-Rv3436c-1     1.0  P0A588

[171 rows x 3 columns]

In [96]:
UNIPROTKB_df = UNIPROTKB_df.reset_index(drop=True)
entry_df = entry_df.append(UNIPROTKB_df)

In [98]:
rest_df = rest_df[rest_df.entry == 'na']
rest_df = rest_df.drop(columns=['entry'])
rest_df = rest_df.rename(columns={'PDB':'entry'})
PDB_df = rest_df[rest_df.entry != 'na']
PDB_df = PDB_df.iloc[:,[0,1,4]]
PDB_df = PDB_df.reset_index(drop=True)
entry_df = entry_df.append(PDB_df)

In [100]:
rest_df = rest_df[rest_df.entry == 'na']
rest_df = rest_df.drop(columns=['entry'])
rest_df = rest_df.rename(columns={'HGNC':'entry'})
HGNC_df = rest_df[rest_df.entry != 'na']
HGNC_df = HGNC_df.iloc[:,[0,1,11]]
HGNC_df = HGNC_df.reset_index(drop=True)
entry_df = entry_df.append(HGNC_df)

In [103]:
rest_df = rest_df[rest_df.entry == 'na']
rest_df = rest_df.drop(columns=['entry'])
rest_df = rest_df.rename(columns={'PFAM':'entry'})
PFAM_df = rest_df[rest_df.entry != 'na']
PFAM_df = PFAM_df.iloc[:,[0,1,37]]
PFAM_df = PFAM_df.reset_index(drop=True)
entry_df = entry_df.append(PFAM_df)

In [106]:
rest_df = rest_df[rest_df.entry == 'na']
rest_df = rest_df.drop(columns=['entry'])
rest_df = rest_df.rename(columns={'PFAM-B':'entry'})
PFAMB_df = rest_df[rest_df.entry != 'na']
PFAMB_df = PFAMB_df.iloc[:,[0,1,39]]
PFAMB_df = PFAMB_df.reset_index(drop=True)
entry_df = entry_df.append(PFAMB_df)

In [109]:
rest_df = rest_df[rest_df.entry == 'na']
rest_df = rest_df.drop(columns=['entry'])
rest_df = rest_df.rename(columns={'GenBank':'entry'})
GenBank_df = rest_df[rest_df.entry != 'na']
GenBank_df = GenBank_df.iloc[:,[0,1,9]]
GenBank_df = GenBank_df.reset_index(drop=True)
entry_df = entry_df.append(GenBank_df)

In [111]:
rest_df = rest_df[rest_df.entry == 'na']
rest_df = rest_df.drop(columns=['entry'])
rest_df = rest_df.rename(columns={'Genbank':'entry'})
Genbank_df = rest_df[rest_df.entry != 'na']
Genbank_df = Genbank_df.iloc[:,[0,1,23]]
Genbank_df = Genbank_df.reset_index(drop=True)
entry_df = entry_df.append(Genbank_df)

In [239]:
rest_df = rest_df[rest_df.entry == 'na']
rest_df = rest_df.drop(columns=['entry'])
rest_df = rest_df.rename(columns={'ORNL':'entry'})
RefSeq_df = rest_df[rest_df.entry != 'na']
RefSeq_df = RefSeq_df.iloc[:,[0,1,2]]
RefSeq_df = RefSeq_df.reset_index(drop=True)
entry_df = entry_df.append(RefSeq_df)

In [241]:
entry_df = entry_df.reset_index(drop=True)

In [242]:
entry_df.to_csv('whole_entrez.csv',sep=',',index=False,header=True)

In [243]:
entry_df

                   id  symbol                                     entry
0      NESG-HR3083B-1     1.0                                    Q13112
1      NESG-HR2955E-2     1.0                                    Q9NR20
2          NESG-XR1-2     1.0                                    Q9YF01
3       NESG-YR315B-3     1.0                                    P40458
4       NESG-HR2177-1     1.0                                    Q9BQ95
...               ...     ...                                       ...
79173   JCSG-380895-1     1.0    SSUI_28JUL04_CONTIG230_REVISED_GENE847
79174   JCSG-392817-1     1.0   DHAF_12NOV03_CONTIG1024_REVISED_GENE460
79175   JCSG-394667-1     1.0  PPEN_30JUL02_SCAFFOLD57_REVISED_GENE1502
79176   JCSG-376087-1     1.0  NPUN_22DEC03_CONTIG1_REVISED_GENENPR4837
79177   JCSG-370436-1     1.0  DHAF_12NOV03_CONTIG1083_REVISED_GENE3029

[79178 rows x 3 columns]

In [245]:
uni_ent_l = list(set(entry_df['entry']))

In [248]:
stat_df = pd.DataFrame(columns=['trial_id','entry'])
trial_id_list = []
ent_l = []
for ele in uni_ent_l:
    sub_df = entry_df[entry_df.entry == ele]
    symbol_list = list(set(sub_df['symbol'].tolist()))
    if len(symbol_list) == 2:
        trial_id_list.append('$'.join(sub_df['id'].tolist()))
        ent_l.append(ele)
        
stat_df['trial_id'] = trial_id_list
stat_df['entry'] = ent_l
len(trial_id_list)

0

In [253]:
# for trials that belong to same uniprot id and have the same label 1 or 0
stat_df1 = pd.DataFrame(columns=['trial_id','entry'])
trial_id_list1 = []
ent_l1 = []
# for trials that belong to a uniprot id, unique
stat_df2 = pd.DataFrame(columns=['trial_id','entry'])
trial_id_list2 = []
ent_l2 = []

for ele in uni_ent_l:
    sub_df = entry_df[entry_df.entry == ele]
    symbol_list = sub_df['symbol'].tolist()
    if len(symbol_list) > 1:
        trial_id_list1.append('$'.join(sub_df['id'].tolist()))
        ent_l1.append(ele)
    if len(symbol_list) == 1:
        trial_id_list2.append(sub_df['id'].tolist()[0])
        ent_l2.append(ele)
        
stat_df1['trial_id'] = trial_id_list1
stat_df1['entry'] = ent_l1
stat_df2['trial_id'] = trial_id_list2
stat_df2['entry'] = ent_l2
len(trial_id_list1),len(trial_id_list2)

(10669, 42918)

In [254]:
unique_dff = pd.merge(entry_df,stat_df2,on='entry')

In [255]:
Counter(unique_dff['symbol'].tolist())

Counter({1.0: 29063, 0.0: 13855})

In [256]:
repeat_dff = stat_df1
for ind,row in repeat_dff.iterrows():
    repeat_dff['trial_id'][ind] = row['trial_id'].split('$')[0]

Counter({1.0: 34135, 0.0: 2125})

In [258]:
repeat_dff = repeat_dff.rename(columns={'trial_id':'id'})
repeat_pick1_df = pd.merge(entry_df,repeat_dff,on='id')
Counter(repeat_pick1_df['symbol'].tolist())

Counter({1.0: 9749, 0.0: 920})

In [260]:
repeat_pick1_df = repeat_pick1_df.drop(columns=['entry_x'])
repeat_pick1_df = repeat_pick1_df.rename(columns={'entry_y':'entry'})

In [262]:
unique_dff = unique_dff.drop(columns=['trial_id'])

In [263]:
unique_dff.to_csv('unique_dff.csv',sep=',',index=False,header=True)
repeat_pick1_df.to_csv('repeat_pick1_df.csv',sep=',',index=False,header=True)

In [270]:
unique_df = unique_df.iloc[:,[0,2]]

# cd-hit clusters 0.25

In [264]:
seq_25 = []
ids_25 = []
for record in SeqIO.parse('/Users/liusifan/Desktop/1648200357.result/1648200357.fas.1','fasta'):
    seq_25.append(str(record.seq))
    ids_25.append(str(record.id))

In [265]:
len(ids_25)

24214

In [271]:
cp_unique_df = unique_df
for ind,row in cp_unique_df.iterrows():
    if row['id'] not in ids_25:
        cp_unique_df = cp_unique_df.drop([ind])

In [274]:
Counter(cp_unique_df['bool'])

Counter({1.0: 18085, 0.0: 6129})

In [277]:
cd_unique_df = pd.merge(cp_unique_df,unique_dff,on='id')
cd_repeat_df = pd.merge(cp_unique_df,repeat_trial_df,on='id')
Counter(cd_unique_df['symbol']),Counter(cd_repeat_df['symbol'])

(Counter({1.0: 757, 0.0: 213}), Counter({1.0: 3651, 0.0: 15}))

In [278]:
cd_unique_df = pd.merge(cp_unique_df,unique_trial_df,on='id')
cd_repeat_df = pd.merge(cp_unique_df,repeat_pick1_df,on='id')
Counter(cd_unique_df['symbol']),Counter(cd_repeat_df['symbol'])

(Counter({1.0: 757, 0.0: 213}), Counter({1.0: 1692, 0.0: 170}))

# cd-hit clusters 0.40

In [266]:
seq_40 = []
ids_40 = []
for record in SeqIO.parse('/Users/liusifan/Desktop/1648204456.result/1648204456.fas.1','fasta'):
    seq_40.append(str(record.seq))
    ids_40.append(str(record.id))

In [267]:
len(ids_40)

35274

In [279]:
cpp_unique_df = unique_df
for ind,row in cpp_unique_df.iterrows():
    if row['id'] not in ids_40:
        cpp_unique_df = cpp_unique_df.drop([ind])

In [281]:
Counter(cpp_unique_df['bool'])

Counter({1.0: 25378, 0.0: 9896})